@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #0078D4;
    --title-color: #222;
    --desc-color: #333;
    --white-color: #fff;
    --bg-color: #f5f7f9;
    --border-color: #eee;
    --clear-color: #ff0000;
    --edit-color: #07c007;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    user-select: none;
}

.btn {
    background-color: var(--primary-color);
    display: inline-block;
    outline: 0;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.row {
    float: left;
    width: 100%;
}

/*============ Header ============*/
.header {
    background-color:  var(--primary-color);
    height: 90px;
}

.header .logo {
    float: left;
    width: 80%;
}

.header .logo a {
    text-decoration: none;
}

.header .logo a h3 {
    margin-left: 50px;
    color: var(--white-color);
    font-size: 2rem;
    line-height:90px;
}

.header .navbar {
    float: left;
    width: 20%;
}

.header .navbar .nav-icon {
    margin-left: 3rem;
    display: inline-block;
    cursor: pointer;
}

.header .navbar .nav-icon span {
    color: var(--white-color);
    font-size: 2rem;
    line-height:90px;
    margin-left:1rem;
}

/* setting menu */
.settings-menu {
    position: absolute;
    width: 90%;
    max-width: 250px;
    height: 200px;
    background: var(--white-color);
    box-shadow: 0 0 10px var(--desc-color);
    border-radius: 5px;
    overflow: hidden;
    top: 8%;
    right: 10%;
    z-index: 1;
    max-height: 0;
    /* display: none; */
    transition: max-height 0.3s;
}
.notify-menu {
    position: absolute;
    width: 90%;
    max-width: 250px;
    height: 200px;
    background: var(--white-color);
    box-shadow: 0 0 10px var(--desc-color);
    border-radius: 5px;
    overflow: hidden;
    top: 8%;
    right: 15%;
    z-index: 1;
    max-height: 0;
    /* display: none; */
    transition: max-height 0.3s;
}
.user-menu {
    position: absolute;
    width: 90%;
    max-width: 250px;
    height: 100px;
    background: var(--white-color);
    box-shadow: 0 0 10px var(--desc-color);
    border-radius: 5px;
    overflow: hidden;
    top: 8%;
    right: 5%;
    z-index: 1;
    max-height: 0;
    /* display: none; */
    transition: max-height 0.3s;
}

.settings-menu-height,
.notify-menu-height,
.user-menu-height {
    max-height: 450px;
    /* display: block; */
}

.settings-menu a,
.notify-menu a,
.user-menu a {
    display: block;
    color: var(--title-color);
    text-decoration: none;
    font-size: 1rem;
    padding: 15px;
}

.settings-menu a:hover,
.notify-menu a:hover,
.user-menu a:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 5px;
}

.settings-menu a i,
.notify-menu a i,
.user-menu a i {
    font-size: 1.2rem;
}

.user-menu .user-company {
    font-weight: 600;
}

/*============ Content ============*/

.content {
    margin-top: 2rem;
}

.content .boxleft {
    float: left;
    width: 20%;
    height: 100vh;
    position: relative;
}

.btn-upload {
    margin-left: 50px;
    padding: 10px 20px;
    color: var(--white-color);
    overflow:hidden;
    background-image: linear-gradient(to bottom, var(--primary-color) 50%, var(--white-color) 50%);
    background-size: 100% 200%;
    transition: all 1s;
    font-size: 1rem;
}

.btn-upload:hover {
    background-position: 0 100%;
    color:var(--primary-color);
}

.btn-upload i {
    font-size: 1.2rem;
}

/* Modal Upload File*/
.btn-close {
    color: #aaaaaa;
    font-size: 20px;
    text-decoration: none;
    padding:10px;
    position: absolute;
    right: 7px;
    top: 0;
}
.btn-close:hover {
    color: var(--title-color);
}

.modale-upload:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.opened-upload:before {
    display: block;
}
.opened-upload .modalup-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20%;
}
.modalup-dialog {
    background: #fefefe;
    border: #333333 solid 0px;
    border-radius: 5px;
    margin-left: -200px;
    /* text-align:center; */
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    min-width: 360px;
    box-shadow:0 5px 10px rgba(0,0,0,0.3);
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.modalup-body {
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

.modalup-body label {
    font-size: .8rem;
    font-weight: 500;
}
.modalup-body input[type="text"] {
    width:100%;
    padding: 10px;
    border:1px solid var(--border-color);
    color:#333;
    outline:0;
    font-size:14px;
    font-weight:500;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.modalup-body input::placeholder {
    color: var(--clear-color);
}

.modalup-body input[type="text"]:focus {
    outline:1px solid var(--primary-color);
}

.modalup-body .file-upload{
    padding: 5px 20px;
    height:40px;
    width:100%;
    border-radius: 5px;
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;  
    border:1px solid var(--primary-color);
    overflow:hidden;
    transition: all 1s;
    color: var(--primary-color);
    font-size:1rem;
}

.modalup-body .file-upload input[type='file']{
    height:40px;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    cursor:pointer;
}

.modalup-body .file-upload i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.modalup-header {
    padding: 10px 20px;
}
.modalup-header {
    border-bottom: 1px solid var(--border-color);
}
.modalup-header h2 {
    font-size: 1.2rem;
    text-align: center;
    color: var(--title-color);
    font-weight: normal;
}


.modalup-body .submit {
    margin-top: 1.5rem;
    text-align: center;
}

.modalup-body .submit .btn-modal {
    text-decoration: none;
    padding: 8px 15px;
    color: var(--white-color);
    border: 2px solid var(--primary-color);
    font-size: 1rem;;
}
.modalup-body .submit .btn-modal:hover {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    background-color: transparent;
}

/* End Modal */

.menu-left {
    margin-left: 50px;
    margin-top: 20px;
}

.menu-left .dropdown-btn .icon-left {
    font-size: 1.5rem;
}

.menu-left .dropdown-btn .icon-right {
    font-size: 0.8rem;
    position: absolute;
    right: 10%;
    margin-top: 8px;
}

/* Style the sidenav links and the dropdown button */
.menu-left a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--title-color);
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: all 0.5s;
    font-weight: 600;
}
    
/* On mouse-over */
.menu-left a:hover {
    color: var(--primary-color);
}

/* Add an active class to the active dropdown button */
.active, .dropdown-btn:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 5px;
}

/* Dropdown container (hidden by default)*/
.dropdown-container {
    display: none;
    padding-left: 8px;
}

.dropdown-container a {
    font-size: 1rem;
    font-weight: 500;
}
.dropdown-container a i {
    font-size: 1.2rem;
    padding-right: 5px;
}

/* End */


.content .boxright {
    float: left;
    width: 80%;
    height: 100vh;
    padding-right: 30px;
}

.main-content {
    padding-top: 20px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 2px 2px 4px var(--border-color);
    height: 90vh;
}

.boxright h3 {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.boxright .box-search {
    margin-left: 50px;
    margin-bottom: 20px;
}

.box-search input[type='text'] {
    width: 25%;
    padding: 9px;
    border-radius: 5px;
    outline: 0;
    border: 2px solid var(--border-color);
}

.box-search input[type='text']:focus {
    border: 2px solid var(--primary-color);
}

.box-search .submit {
    color: var(--white-color);
    padding: 9px 15px;
    cursor: pointer;
}
.box-search .submit:hover {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    background-color: transparent;
}

.box-search i {
    font-size: 1rem;
}

/* Table DS */

.listbox .table-ds {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--border-color);
}

.listbox .table-ds th {
    font-size: 0.8rem;
    color: var(--white-color)
}

.listbox .table-ds th{
    padding: 20px;
    background-color: var(--primary-color);
}
/* .listbox .table-ds th:nth-child(1){
    width: 5%;
    padding: 20px;
    background-color: var(--primary-color);
}
.listbox .table-ds th:nth-child(2){
    width: 5%;
    background-color: var(--primary-color);
}
.listbox .table-ds th:nth-child(3){
    width: 30%;
    background-color: var(--primary-color);
}
.listbox .table-ds th:nth-child(4){
    width: 15%;
    background-color: var(--primary-color);
}
.listbox .table-ds th:nth-child(5){
    width: 5%;
    background-color: var(--primary-color);
}
.listbox .table-ds th:nth-child(6){
    width: 15%;
    background-color: var(--primary-color);
}
.listbox .table-ds th:nth-child(7){
    width: 15%;
    background-color: var(--primary-color);
}
.listbox .table-ds th:nth-child(8){
    width: 20%;
    background-color: var(--primary-color);
} */

.listbox .table-ds td {
    padding: 10px 20px;
    border-bottom: 1px solid var(--border-color);
    text-align: center;
    font-size: 0.8rem;
}

.listbox .view {
    font-size: 1rem;
    margin-right: 10px;
    cursor: pointer;
}

.listbox .view:hover {
    color: var(--primary-color);
    transform: scale(1.5);
}

.listbox input[type="checkbox"] {
    cursor: pointer;
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
    padding: 5px;
}

.listbox .clear {
    font-size: 1.2rem;
    color: var(--clear-color);
    margin-right: 1rem;
    cursor: pointer;
}
.listbox .edit {
    font-size: 1.2rem;
    color: var(--edit-color);
    cursor: pointer;
}

.listbox .clear:hover,
.listbox .edit:hover {
    transform: scale(1.5);
}


/* Page Signed */

.listbox .table-ds .datatime {
    outline: 0;
    border: 0;
    color: var(--primary-color);
    text-align: center;
    font-weight: 600;
}

/* Page Unsigned */
.listbox .table-ds .remind-all a {
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: var(--clear-color);
    border: 2px solid var(--clear-color);
    color: var(--white-color);
    transition: all 0.5s;
}
.listbox .table-ds .remind a {
    text-decoration: none;
    border: 2px solid var(--edit-color);
    padding: 5px 17px;
    border-radius: 5px;
    color: var(--edit-color);
    transition: all 0.5s;
}
.listbox .table-ds .remind-all a:hover{
    background-color: transparent;
    border: 2px solid var(--clear-color);
    color: var(--clear-color);
}

.listbox .table-ds .remind a:hover {
    background-color: var(--edit-color);
    border: 2px solid var(--edit-color);
    color: var(--white-color);
}

/* Page Deleted */

.listbox .table-ds .deleted {
    color: var(--clear-color);
}



